---
import Layout from "../layouts/Layout.astro";
import { Icon } from "astro-icon/components";
import DescriptionPanel from "@/components/detail-page/DescriptionPanel.astro";
import ExampleHeader from "@/components/detail-page/ExampleHeader.astro";
import CopyCodeBlock from "@/components/CopyCodeBlock.astro";
import path from "node:path";
import { yamlToObject } from "../utils/yaml";
import type { Examples } from "@/types/example";
import DetailsPages from "@/components/detail-page/DetailsPages.astro";

export async function getStaticPaths() {
  const yamlFilePath = path.resolve("algokit-templates/examples/examples.yml");
  const { examples } = await yamlToObject<Examples>(yamlFilePath);

  return examples.map((example) => ({
    params: { id: example.id },
    props: { example },
  }));
}

const { example } = Astro.props;
const {
  id,
  title,
  description,
  image,
  tags,
  repositoryUrl,
  author,
  features,
  type,
  detailsPages,
} = example;
---

<Layout title={title}>
  <main class="container px-4 mx-auto flex flex-col">
    <div class="sticky top-0 bg-base-100 z-10 py-2">
      <ExampleHeader
        title={title}
        id={id}
        type={type}
        author={author}
        repositoryUrl={repositoryUrl}
        tags={tags}
      />
    </div>
    <!-- <div class="divider my-1"></div> -->
    <div class="flex flex-col gap-4 pt-2">
      <CopyCodeBlock
        title="Install with AlgoKit CLI"
        code={`algokit init example ${id}`}
      />
      <DescriptionPanel
        description={description}
        features={features}
        title={title}
        type={type}
      />
    </div>
    <div class="divider my-2"></div>
    <DetailsPages id={id} detailsPages={detailsPages} />
  </main>
</Layout>
