---
import type { Example } from "../types/example";

interface Props {
  example: Example;
}

const { example } = Astro.props;
const { id, title, description, image, tags, type } = example;
const cardType = type.replace(/-/g, " ");
---

<article class="max-w-md rounded-3xl overflow-hidden shadow-lg">
  <a href={`/${example.id}`}>
    <figure class="relative h-64">
      <img src={image} alt={title} class="w-full h-full object-cover" />
    </figure>

    {/* Content section with light blue background and rounded borders */}
    <div class="relative bg-blue-50 px-8 py-6 rounded-3xl -mt-6 h-full">
      <div
        class="badge badge-primary badge-sm rounded-xs font-semibold uppercase mb-2 p-3"
      >
        {cardType}
      </div>
      <h2 class="text-xl font-bold text-gray-900 mb-4">{title}</h2>
      <p class="text-lg text-gray-800 line-clamp-3">
        {description}
      </p>
    </div>
  </a>
</article>
