---
import { Icon } from "astro-icon/components";
import { type Example } from "@/types/example";
import {
  DEMOAPP_DOMAIN,
  CODESANDBOX_DOMAIN,
  CODESPACE_DOMAIN,
} from "@/config.ts";
import fs from 'node:fs';
import path from 'node:path';
import { getFrontendPath } from '@/utils/workspace';

interface Props {
  id: Example["id"];
  type: Example["type"];
}

const { id, type } = Astro.props;

// Check for workspace file and get frontend path
let frontendPath = "";
frontendPath = getFrontendPath(id) || "";

const links = {
  codespaces: `${CODESPACE_DOMAIN}/tree/examples/${id}`,
  codesandbox: `${CODESANDBOX_DOMAIN}/tree/examples/${id}${frontendPath ? '/' + frontendPath : ''}`,
  demo: `${DEMOAPP_DOMAIN}/${id}/`,
};
const showCodespaces = ["smart-contract", "fullstack", "frontend"].includes(type);
const showCodesandbox = ["frontend"].includes(type);
const showDemo = ["frontend"].includes(type);
---

<div class="flex gap-2">
  {
    showCodespaces && (
      <a
        href={links.codespaces}
        target="_blank"
        class="btn btn-xs md:btn-sm"
        style={{
          backgroundColor: "#333",
          color: "#fff",
          border: "none",
        }}
      >
        <Icon name="mdi:github" />
        <span>Codespace</span>
      </a>
    )
  }
  <!-- TODO: Fix codesandbox link -->
  <!-- {
    showCodesandbox && (
      <a
        href={links.codesandbox}
        target="_blank"
        class="btn btn-xs md:btn-sm"
        style={{
          backgroundColor: "#ffec5c",
          color: "#333",
          border: "none",
        }}
      >
        <Icon name="mdi:square" />
        <span>CodeSandbox</span>
      </a>
    )
  } -->
  {
    showDemo && (
      <a
        href={links.demo}
        target="_blank"
        class="btn btn-primary btn-xs md:btn-sm"
      >
        <span>Visit Demo</span>
        <Icon name="mdi:open-in-new" />
      </a>
    )
  }
</div>
