---
import DemoLinks from "./DemoLinks.astro";
import Tag from "../Tag.astro";
import { Icon } from "astro-icon/components";
import type { Example } from "@/types/example";

interface Props {
  title: Example["title"];
  id: Example["id"];
  type: Example["type"];
  author: Example["author"];
  repositoryUrl: Example["repositoryUrl"];
  tags: Example["tags"];
}

const { title, id, type, author, repositoryUrl, tags }: Props = Astro.props;
---

<div
  class="flex flex-col items-start md:flex-row md:justify-between gap-2 md:items-center pt-2"
>
  <h1 class="text-2xl md:text-4xl font-bold">{title}</h1>
  <DemoLinks id={id} type={type} />
</div>
<div class="flex items-center gap-2">
  <p class="text-sm">Creator {author}</p>
  {
    repositoryUrl && (
      <a href={repositoryUrl} target="_blank" class="github-link">
        <div class="flex items-center gap-1">
          <Icon name="mdi:github" />
          <span class="text-sm link">Source</span>
        </div>
      </a>
    )
  }
</div>
{
  tags && (
    <div class="flex flex-wrap gap-2">
      {tags.map((tag) => (
        <Tag tag={tag} />
      ))}
    </div>
  )
}
